
@{
    ViewBag.Title = "Dice Game";
}
@section AddToHead{
    <link href="@Url.Content("~/Styles/dice.css")" rel="stylesheet" type="text/css" />
}
@section AddToBottom{
    <script src="@Url.Content("~/Scripts/dice.js")"></script>
    <script src="@Url.Content("~/Scripts/betHandler.js")"></script>
}

<h2 class="text-center">Dice Game</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
            <div class="row dice-table">
                <div class="col-sm-5 col-md-5 col-sm-offset-1 col-md-offset-1">
                    <div class="dice-wrapper">
                        <div id="platform1" class="dice-platform">
                            <div id="dice1" class="dice">
                                <div class="side front">
                                    <div class="dot center"></div>
                                </div>
                                <div class="side front inner"></div>
                                <div class="side top">
                                    <div class="dot dtop dleft"></div>
                                    <div class="dot dbottom dright"></div>
                                </div>
                                <div class="side top inner"></div>
                                <div class="side right">
                                    <div class="dot dtop dleft"></div>
                                    <div class="dot center"></div>
                                    <div class="dot dbottom dright"></div>
                                </div>
                                <div class="side right inner"></div>
                                <div class="side left">
                                    <div class="dot dtop dleft"></div>
                                    <div class="dot dtop dright"></div>
                                    <div class="dot dbottom dleft"></div>
                                    <div class="dot dbottom dright"></div>
                                </div>
                                <div class="side left inner"></div>
                                <div class="side bottom">
                                    <div class="dot center"></div>
                                    <div class="dot dtop dleft"></div>
                                    <div class="dot dtop dright"></div>
                                    <div class="dot dbottom dleft"></div>
                                    <div class="dot dbottom dright"></div>
                                </div>
                                <div class="side bottom inner"></div>
                                <div class="side back">
                                    <div class="dot dtop dleft"></div>
                                    <div class="dot dtop dright"></div>
                                    <div class="dot dbottom dleft"></div>
                                    <div class="dot dbottom dright"></div>
                                    <div class="dot center dleft"></div>
                                    <div class="dot center dright"></div>
                                </div>
                                <div class="side back inner"></div>
                                <div class="side cover x"></div>
                                <div class="side cover y"></div>
                                <div class="side cover z"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 col-md-5">
                    <div class="dice-wrapper">
                        <div id="platform2" class="dice-platform">
                            <div id="dice2" class="dice">
                                <div class="side front">
                                    <div class="dot center"></div>
                                </div>
                                <div class="side front inner"></div>
                                <div class="side top">
                                    <div class="dot dtop dleft"></div>
                                    <div class="dot dbottom dright"></div>
                                </div>
                                <div class="side top inner"></div>
                                <div class="side right">
                                    <div class="dot dtop dleft"></div>
                                    <div class="dot center"></div>
                                    <div class="dot dbottom dright"></div>
                                </div>
                                <div class="side right inner"></div>
                                <div class="side left">
                                    <div class="dot dtop dleft"></div>
                                    <div class="dot dtop dright"></div>
                                    <div class="dot dbottom dleft"></div>
                                    <div class="dot dbottom dright"></div>
                                </div>
                                <div class="side left inner"></div>
                                <div class="side bottom">
                                    <div class="dot center"></div>
                                    <div class="dot dtop dleft"></div>
                                    <div class="dot dtop dright"></div>
                                    <div class="dot dbottom dleft"></div>
                                    <div class="dot dbottom dright"></div>
                                </div>
                                <div class="side bottom inner"></div>
                                <div class="side back">
                                    <div class="dot dtop dleft"></div>
                                    <div class="dot dtop dright"></div>
                                    <div class="dot dbottom dleft"></div>
                                    <div class="dot dbottom dright"></div>
                                    <div class="dot center dleft"></div>
                                    <div class="dot center dright"></div>
                                </div>
                                <div class="side back inner"></div>
                                <div class="side cover x"></div>
                                <div class="side cover y"></div>
                                <div class="side cover z"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
            <div class="row text-center" id="bets-wrapper">
                <div class="col-xs-1 dice-bet">
                    <div class="row">2</div>
                </div>
                <div class="col-xs-1 dice-bet">
                    <div class="row">3</div>
                </div>
                <div class="col-xs-1 dice-bet">
                    <div class="row">4</div>
                </div>
                <div class="col-xs-1 dice-bet">
                    <div class="row">5</div>
                </div>
                <div class="col-xs-1 dice-bet">
                    <div class="row">6</div>
                </div>
                <div class="col-xs-1 dice-bet">
                    <div class="row">7</div>
                </div>
                <div class="col-xs-1 dice-bet">
                    <div class="row">8</div>
                </div>
                <div class="col-xs-1 dice-bet">
                    <div class="row">9</div>
                </div>
                <div class="col-xs-1 dice-bet">
                    <div class="row">10</div>
                </div>
                <div class="col-xs-1 dice-bet">
                    <div class="row">11</div>
                </div>
                <div class="col-xs-1 dice-bet">
                    <div class="row">12</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-4 col-sm-offset-3 col-md-offset-4 col-lg-offset-4">

            <div class="bettext">Bet Amount</div>
            <div class="row">
                <div class="col-md-12">

                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                            <button onclick="changeBetAmount(1);" type="button" class="btn btn-default">+1</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button onclick="changeBetAmount(5)" type="button" class="btn btn-default">+5</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button onclick="changeBetAmount(10)" type="button" class="btn btn-default">+10</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button onclick="changeBetAmount(50)" type="button" class="btn btn-default">+50</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button onclick="changeBetAmount(100)" type="button" class="btn btn-default">+100</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                            <button onclick="changeBetAmount(-1)" type="button" class="btn btn-default">-1</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button onclick="changeBetAmount(-5)" type="button" class="btn btn-default">-5</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button onclick="changeBetAmount(-10)" type="button" class="btn btn-default">-10</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button onclick="changeBetAmount(-50)" type="button" class="btn btn-default">-50</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button onclick="changeBetAmount(-100)" type="button" class="btn btn-default">-100</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:1em;">
                <div class="col-xs-8 col-sm-7 col-md-6">
                    <div id="betAmount">0</div>
                </div>
                <div class="col-xs-2 col-sm-3 col-md-3">
                    <button onclick="sendDiceBet()" type="submit" class="btn-lg btn-success">Bet</button>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-3">
                    <div id="betResult"></div>
                </div>
            </div>

        </div>
    </div>
</div>
