@model OnlineCasinoWebClient.Models.UserModel

<p class="navbar-text navbar-right">
    <a href="/profile" class="navbar-link">@Model.FullName</a>
    <a href="/profile"><span class="badge">@($"{@Model.Money:N2}")</span></a>
    &nbsp;
    <a href="/home/logout" style="font-size: smaller">(Log out)</a>
</p>
<div id="userSecret" style="display: none;">@Model.UserId</div>
<div id="userTSecret" style="display: none;">@Model.Token</div>