
@{
    ViewBag.Title = "Not Found";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
            <div class="row">
                <h1 class="text-center">404</h1>
            </div>
            <div class="row">
                <h3 class="text-center">There doesn't seem to be anything here.</h3>
            </div>
            <div class="row">
                <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
                    <img src="~/Assets/404.gif" class="img-responsive" />
                </div>
            </div>
            <div class="row">
                <br />
                <br />
                <h5 class="text-center">@Html.ActionLink("Go Back To Home Page", "Index", "Home")</h5>
            </div>
        </div>
    </div>
</div>