@model OnlineCasinoWebClient.Models.UserModel

@{
    ViewBag.Title = "Home";
}
<div class="row">
    <div class="col-lg-12">
        <h3>Logged in as: @Model.Username, @Model.FullName, @Model.Email, Balance: @Model.Money</h3>
    </div>
</div>

<div class="row"></div>
<div class="container-fluid ">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="~/Assets/GamePlaceholderImage.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Dice Game</h5>
                    <p class="card-text">Can you predict a dice roll?</p>
                    <a href="#" class="btn btn-primary">Play</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="~/Assets/GamePlaceholderImage.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Roulette</h5>
                    <p class="card-text">Roulette table for the wealthy enthusiast.</p>
                    <a href="#" class="btn btn-primary">Play</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="~/Assets/GamePlaceholderImage.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Blackjack</h5>
                    <p class="card-text">Fancy a game of Blackjack? Work In Progress</p>
                    <a href="#" class="btn btn-primary">Play</a>
                </div>
            </div>
        </div>
    </div>
</div>
